In [4]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [5]:
df = pd.read_csv("./datasets/loan_approval_dataset.csv")

In [6]:
df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [7]:
df.shape

(4269, 13)

In [8]:
df.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [9]:
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [12]:
df["All_Values"] = df[" bank_asset_value"] + df[" commercial_assets_value"] + df[" commercial_assets_value"] + df[" luxury_assets_value"] + df[" residential_assets_value"]

In [15]:
def Converter(status):
    if status.strip() == "Approved":
        return 1
    else:
        return 0

In [ ]:
df["LS"] = df[" loan_status"].apply(Converter)

In [17]:
df.All_Values

0       68300000
1       19200000
2       62200000
3       56000000
4       63200000
          ...
4264     7900000
4265    22900000
4266    51400000
4267    29500000
4268    89100000
Name: All_Values, Length: 4269, dtype: int64

In [22]:
df.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status',
       'All_Values', 'LS'],
      dtype='object')

In [23]:
ind = df[[" no_of_dependents" , " income_annum", " loan_amount", " cibil_score", "All_Values"]].values
dep = df.LS.values

In [24]:
df.LS.value_counts()

LS
1    2656
0    1613
Name: count, dtype: int64

In [25]:
model = LogisticRegression()
model = model.fit(ind, dep)

In [26]:
pred = model.predict(ind)

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
# accuracy_score(dep, pred)

0.7306160693370812

ModuleNotFoundError: No module named 'klearn'

In [32]:
%pip install selenium

Collecting selenium
  Downloading selenium-4.23.1-py3-none-any.whl (9.4 MB)
     ---------------------------------------- 9.4/9.4 MB 612.3 kB/s eta 0:00:00
Collecting urllib3[socks]<3,>=1.26
  Downloading urllib3-2.2.2-py3-none-any.whl (121 kB)
     ------------------------------------ 121.4/121.4 kB 355.3 kB/s eta 0:00:00
Collecting trio~=0.17
  Downloading trio-0.26.0-py3-none-any.whl (475 kB)
     ------------------------------------ 475.7/475.7 kB 522.5 kB/s eta 0:00:00
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Collecting certifi>=2021.10.8
  Downloading certifi-2024.7.4-py3-none-any.whl (162 kB)
     -------------------------------------- 163.0/163.0 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: typing_extensions~=4.9 in c:\users\om makwana\appdata\roaming\python\python311\site-packages (from selenium) (4.12.2)
Collecting websocket-client~=1.8
  Downloading websocket_client-1.8.0-py3-none-any.whl (58 kB)
     -------------------------------------- 58.8/58.8 kB 771.2 kB/s eta 0:00:00
Requirement already satisfied: attrs>=23.2.0 in c:\users\om makwana\appdata\local\programs\python\python311\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Collecting sortedcontainers
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Collecting idna
  Downloading idna-3.7-py3-none-any.whl (66 kB)
     -------------------------------------- 66.8/66.8 kB 725.6 kB/s eta 0:00:00
Collecting outcome
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Collecting sniffio>=1.3.0
  Downloading sniffio-1.3.1-py3-none-any.whl (10 kB)
Collecting cffi>=1.14
  Downloading cffi-1.16.0-cp311-cp311-win_amd64.whl (181 kB)
     ------------------------------------ 181.5/181.5 kB 522.1 kB/s eta 0:00:00
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Collecting pysocks!=1.5.7,<2.0,>=1.5.6
  Downloading PySocks-1.7.1-py3-none-any.whl (16 kB)
Collecting pycparser
  Downloading pycparser-2.22-py3-none-any.whl (117 kB)
     -------------------------------------- 117.6/117.6 kB 1.7 MB/s eta 0:00:00
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ---------------------------------------- 58.3/58.3 kB 1.5 MB/s eta 0:00:00
Installing collected packages: sortedcontainers, websocket-client, urllib3, sniffio, pysocks, pycparser, outcome, idna, h11, certifi, wsproto, cffi, trio, trio-websocket, selenium
Successfully installed certifi-2024.7.4 cffi-1.16.0 h11-0.14.0 idna-3.7 outcome-1.3.0.post0 pycparser-2.22 pysocks-1.7.1 selenium-4.23.1 sniffio-1.3.1 sortedcontainers-2.4.0 trio-0.26.0 trio-websocket-0.11.1 urllib3-2.2.2 websocket-client-1.8.0 wsproto-1.2.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip